Django>=3.2,<4.0
django-mysql==4.3.0
pymysql==1.0.2
mysqlclient==2.1.0
factory-boy==3.2.1
elasticsearch>=7.16.0,<8.0.0
elasticsearch-async>=6.2.0,<7.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
django-elasticsearch-dsl>=7.2.1,<8.0.0
django-elasticsearch-dsl-drf>=0.22.2,<1.0.0
googlemaps==4.5.3
django-location-field==2.1.0
django-leaflet==0.28.2
django-easy-maps==1.1.3
python-dotenv==0.19.2
python-decouple>=3.5,<4.0
django-bootstrap-v5==1.0.8
Pillow>=9.0.0,<10.0.0
mariadb-dyncol>=3.4.0,<4.0.0
django-event-system==1.0.1
gevent==21.12.0
djangoevents==0.14.1
model-observer==0.0.22