<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Community!!!</title>
    <style>
     body {
      color: pink;
      text-align: center;
      }

    </style>
  </head>
  <body>
    <h1>Hello, {{ user.username|default:'Guest' }}</h1>

    <p> Welcome to Community</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>

      {% else %}
          <a href="{% url 'members.signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </body>
</html>