{% load static %}
{% load activity_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Community - World's Greatest People Platform </title>

    <link rel="stylesheet" href="{%  static 'public/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/feather.css' %}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/emoji.css' %}">

    <link rel="stylesheet" href="{% static 'public/css/lightbox.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'public/community.js' %}"></script>
    <style>
        .fa-star {
            cursor: pointer;
        }
        .fa-star.checked {
            color: orange;
        }
    </style>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            $('.rate.star img').click(function () {
                let maxRate = 5;
                let id = $(this).attr('id');
                let value = parseInt(id.split('-')[1]);
                $('#rate').val(value);
                if (value === 5) {
                    $('.rate.star img').attr('src', '{% static 'public/images/star.png' %}')
                } else {
                    while (maxRate > value) {
                        $('#star-' + maxRate).attr('src', '{% static 'public/images/star-disable.png' %}');
                        maxRate--;
                    }

                    while (value > 0) {
                        $('#star-' + value).attr('src', '{% static 'public/images/star.png' %}');
                        value--;
                    }
                }
            });

            $('#submit-button').click(function () {
                let request = axios.post(
                    '{% url 'activities.rate' %}',
                    {
                        'event_id': $('#event_id').val(),
                        'voter_id': '{{ user.pk }}',
                        'content': $('#content').val(),
                        'rate': $('#rate').val(),
                    },
                    {
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        }
                    }
                ).then(function (response) {
                    $('#submit-button').remove();
                    $('#review-form div').remove();
                    $('#review-form label').remove();
                    $('#review-form input').remove();
                    $('#review-form textarea').remove();
                    $('#success-button').removeAttr('style');

                    request = null;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {

                })
            })

            $('#attend').click(function () {
                let request = axios.post(
                    '{% url 'activities.attend' %}',
                    {
                        'event_id': $('#event_id').val()
                    },
                    {
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        }
                    }
                ).then(function (response) {
                    $('#attend').attr('style', 'display: none !important;')
                    $('#cancel').removeAttr('style')
                    $('#cancel').attr('style', 'cursor: pointer;')

                    request = null;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {

                })
            });

            $('#cancel').click(function () {
                let request = axios.post(
                    '{% url 'activities.cancel_attendance' %}',
                    {
                        'event_id': $('#event_id').val()
                    },
                    {
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        }
                    }
                ).then(function (response) {
                    $('#cancel').attr('style', 'display: none !important;')
                    $('#attend').removeAttr('style')
                    $('#attend').attr('style', 'cursor: pointer;')

                    request = null;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {

                })
            });
        });
    </script>
</head>

<body class="color-theme-blue mont-font right-comment-none">

    <div class="preloader"></div>


    <div class="main-wrapper">

        <div class="nav-header bg-white shadow-xs border-0">
            <div class="nav-top">
                <a href="{% url 'home.feed' %}"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Community. </span> </a>
                <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <button class="nav-menu me-0 ms-2"></button>
            </div>

            <form action="#" class="float-left header-search">
                <div class="form-group mb-0 icon-input">
                    <i class="feather-search font-sm text-grey-400"></i>
                    <input id="search-bar" autocomplete="off" type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
                    <ol class="list-group" id="search-wrapper" style="
                                        display: none;
                                        position: absolute;
                                        background-color: rgb(255, 255, 255);
                                        margin-top: 0;
                                        padding-left: calc(var(--bs-gutter-x) / 2);
                                        margin-bottom: 1rem;
                                        width: 100%;
                                        height: auto;
                                        max-height: 400px;
                                        overflow: scroll;
                                        "></ol>
                    <input type="hidden" value="" name="service-uuid" id="service-uuid">
                    <input type="hidden" value="" name="event-uuid" id="event-uuid">
                </div>
            </form>
            <a href="{% url 'home.feed' %}" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg alert-primary btn-round-lg theme-dark-bg text-current "></i></a>
            <a href="{% url 'members.show' user.pk %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-user font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>

            <span id="member-credit" class="badge badge-primary text-white badge-pill fw-500 mt-0">{{ user.credit }}h</span>
            <a class="menu-icon text-center ms-auto p-2" href="{% url 'members.show' user.pk %}">{{ user.full_name }}</a>
            <a style="margin-left: 15px !important;" class="menu-icon text-center ms-auto p-2" href="{% url 'logout' %}">Logout</a>
        </div>
        <!-- navigation top -->

        <!-- navigation left -->
        <nav class="navigation scroll-bar">
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span>Filter by Location </span></div>
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="/?nearby=events" class="nav-content-bttn open-font" ><i class="feather-map-pin btn-round-md bg-mini-gradiant me-3"></i><span>Nearby Events</span></a></li>
                            <li><a href="/?nearby=services" class="nav-content-bttn open-font" ><i class="feather-map-pin btn-round-md bg-gold-gradiant me-3"></i><span>Nearby Services</span></a></li>
                        </ul>
                    </div>
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span>Me </span></div>
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="/?attended=events" class="nav-content-bttn open-font"><i class="feather-zap btn-round-md bg-mini-gradiant me-3"></i><span>Attended Events </span></a></li>
                            <li><a href="/?attended=services" class="nav-content-bttn open-font"><i class="feather-zap btn-round-md bg-gold-gradiant me-3"></i><span>Taken Services </span></a></li>
                        </ul>
                    </div>
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span></span> Account</div>
                        <ul class="mb-1">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="{% url 'members.settings' user.pk %}" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i class="font-sm feather-settings me-3 text-grey-500"></i><span>Settings</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- main content -->
        <div class="main-content right-chat-active">

            <div class="middle-sidebar-bottom ps-0 pe-0">
                <div class="middle-sidebar-left pe-0">
                    <div class="row">
                        <div class="col-xl-12 col-xxl-12 col-lg-12">
                            {% if event.photo == null or event.photo == '' %}
                                <img style="width: 100%;" src="https://via.placeholder.com/960x600.png" alt="event-image" class="rounded-3">
                            {% else %}
                                <img style="width: 100%;" src="{{ event.photo }}" alt="https://via.placeholder.com/960x600.png" class="rounded-3">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-xxl-9 col-lg-8">
                            <div class="card d-block mt-3 border-0 shadow-xss bg-white p-lg-5 p-4">
                                <span class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 bg-mini-gradiant d-inline-block text-white ">Event</span>
                                {% if event.owner.id == user.pk %}
                                    <h5 style="margin-left: 2rem;" class="d-inline-block font-xssss fw-600 text-grey-500 me-0">
                                        <a href="{% url 'activities.update' event.uuid %}" target="_blank" class="btn-round-sm bg-greylight ti-pencil text-grey-500 me-1"></a>
                                        Edit Event
                                    </h5>
                                {% endif %}
                                <h2 class="fw-700 font-lg mt-3 mb-2 lh-3">{{ event.title }}</h2>
                                <h5 class="mt-0 mb-0 me-2 d-inline-block font-xssss fw-600 text-grey-500">
                                    <i class="btn-round-sm bg-greylight ti-calendar text-grey-500 me-1"></i>
                                    {{ event.start_date|date:'d/m/Y H:i' }}
                                </h5>
                                <h5 class="mt-0 mb-0 me-0 pl-2 d-inline-block font-xssss fw-600 text-grey-500">
                                    <i class="btn-round-sm bg-greylight ti-location-pin text-grey-500 me-1"></i>
                                    {{ event.formatted_address }}
                                </h5>
                                <p class="font-xsss fw-500 text-grey-500 lh-30 pe-5 mt-3 me-5">{{ event.description|truncatechars:400 }}</p>

                                <div class="clearfix"></div>
                                <div class="star d-block w-100 text-left mt-2">
                                    {% for star in positive_overall_iterator %}
                                        <img src="{% static 'public/images/star.png' %}" alt="star" class="w15 float-left">
                                    {% endfor %}
                                    {% for star_disable in negative_overall_iterator %}
                                        <img src="{% static 'public/images/star-disable.png' %}" alt="star" class="w15 float-left">
                                    {% endfor %}
                                </div>
                                <p class="review-link font-xssss fw-600 text-grey-500 lh-3 mb-0">
                                    ({{ event_rates.count }} rating{{ event_rates.count|pluralize }} ) {{ event_rates.count }} member{{ event_rates.count|pluralize }} review
                                </p>
                                <div class="clearfix"></div>
                                <h5 class="mt-4 mb-4 d-inline-block font-xssss fw-600 text-grey-500 me-2">
                                    <i class="btn-round-sm bg-greylight ti-time text-grey-500 me-1"></i>
                                    {{ event.duration }}h
                                </h5>
                                <h5 class="mt-4 mb-4 d-inline-block font-xssss fw-600 text-grey-500 me-0">
                                    <a href="{% url 'activities.attendants' event.uuid %}" target="_blank" class="btn-round-sm bg-greylight ti-user text-grey-500 me-1"></a>
                                    {% if all_attendance.count > 0 %}
                                        {{ all_attendance.count }} people attending
                                    {% else %}
                                        Nobody attended to this event yet
                                    {% endif %}
                                </h5>
                                <div class="clearfix"></div>

                                {% if event.owner.id != user.pk %}
                                    {% if member_status_on_event == 'can_attend' %}
                                        <a id="attend" style="cursor: pointer;" onclick="void(0)" class="bg-primary-gradiant border-0 text-white fw-600 text-uppercase font-xssss rounded-3 d-inline-block mt-0 p-2 lh-34 text-center ls-3 w200">ATTEND NOW</a>
                                        <a id="cancel" style="display: none !important;" onclick="void(0)" class="bg-gold-gradiant border-0 text-white fw-600 text-uppercase font-xssss rounded-3 d-inline-block mt-0 p-2 lh-34 text-center ls-3 w250">CANCEL YOUR ATTENDANCE</a>
                                    {% elif member_status_on_event == 'can_cancel_attendance' %}
                                        <a id="cancel" style="cursor: pointer;" onclick="void(0)" class="bg-gold-gradiant border-0 text-white fw-600 text-uppercase font-xssss rounded-3 d-inline-block mt-0 p-2 lh-34 text-center ls-3 w250">CANCEL YOUR ATTENDANCE</a>
                                        <a id="attend" style="display: none !important;" onclick="void(0)" class="bg-primary-gradiant border-0 text-white fw-600 text-uppercase font-xssss rounded-3 d-inline-block mt-0 p-2 lh-34 text-center ls-3 w200">ATTEND NOW</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'activities.update' event.uuid %}" style="cursor: pointer;" onclick="void(0)" class="bg-success border-0 text-white fw-600 text-uppercase font-xssss rounded-3 d-inline-block mt-0 p-2 lh-34 text-center ls-3 w300">YOU ARE THE OWNER OF THIS EVENT</a>
                                {% endif %}
                            </div>


                            <div class="card d-block border-0 rounded-3 overflow-hidden p-4 shadow-xss mt-3 alert-success">
                                <h2 class="fw-700 font-sm mb-3 mt-1 ps-1 text-success mb-4">Ameneties</h2>
                                {% with event.content|split:"-" as rows %}
                                    <h4 class="font-xssss fw-500 text-grey-600 mb-3 position-relative lh-24">
                                        {{ rows.0 }}
                                        {% for row in rows %}
                                            {% if forloop.counter != 1 %}
                                                <h4 class="font-xssss fw-500 text-grey-600 mb-3 pl-35 position-relative lh-24">
                                                    <i class="ti-check font-xssss btn-round-xs bg-success text-white position-absolute left-0 top-5"></i>
                                                    {{ row }}
                                                </h4>
                                            {% endif %}
                                        {% endfor %}
                                {% endwith %}

                            </div>
                            <div class="card d-block border-0 rounded-3 overflow-hidden p-4 shadow-xss mt-3">
                                <h2 class="fw-700 font-sm mb-3 mt-1 ps-1 mb-3">Description</h2>
                                <p class="font-xssss fw-500 lh-28 text-grey-600 mb-0 ps-2">
                                    {{ event.description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-xxl-3 col-lg-4 ps-0">
                            <div class="card w-100 border-0 mt-3 mb-4 p-lg-4 p-3 shadow-xss position-relative rounded-3 bg-white">
                                <div class="section full mb-4 p-4 bg-light theme-dark-bg theme-light-bg rounded-3">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h2 class="display2-size lh-1 m-0 text-grey-900 fw-700">{{ average }}</h2>
                                        </div>
                                        <div class="col-12 text-center">
                                            <h4 class="font-xssss text-grey-600 fw-600 mt-2">Based on {{ event_rates.count }} rating{{ event_rates.count|pluralize }}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-7 pe-1 mt-0">
                                            <div class="star d-inline text-left">
                                                {% for star in positive_overall_iterator %}
                                                    <img src="{% static 'public/images/star.png' %}" alt="star" class="w15">
                                                {% endfor %}
                                                {% for star_disable in negative_overall_iterator %}
                                                    <img src="{% static 'public/images/star-disable.png' %}" alt="star" class="w15">
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-5 ps-1 text-right"><h4 class="font-xssss mt-1 fw-700 text-grey-800">Overall</h4></div>
                                    </div>
                                </div>

                                {% for member_review in event_rates %}
                                    <div class="row">
                                        <div class="col-2 text-left">
                                            <figure class="avatar float-left mb-0"><img src="https://via.placeholder.com/50x50.png" alt="image" class="float-right shadow-none w40 me-2"></figure>
                                        </div>
                                        <div class="col-10 ps-4">
                                            <div class="content">
                                                <h6 class="author-name font-xssss fw-600 mb-0 text-grey-800">{{ member_review.voter.full_name }}</h6>
                                                <h6 class="d-block font-xsssss fw-500 text-grey-500 mt-2 mb-0">{{ member_review.created_at|date:'d/m/Y H:i' }}</h6>
                                                <div class="star d-block w-100 text-left">
                                                    {% for rate in member_rate_iterator %}
                                                        {% if rate <= member_review.rate %}
                                                            <img src="{% static 'public/images/star.png' %}" alt="star" class="w10">
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for rate in member_rate_iterator %}
                                                        {% if rate <= member_review.negative_rate %}
                                                            <img src="{% static 'public/images/star-disable.png' %}" alt="star" class="w10">
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <p class="comment-text lh-24 fw-500 font-xssss text-grey-500 mt-2">
                                                    {{ member_review.content }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% if event.owner.id != user.pk %}
                                    <div id="review-form" class="row">
                                        {% if not member_rated %}
                                            <label class="font-xssss fw-600 mb-0 text-grey-800">Your Rate</label>
                                            <div class="rate star d-block w-100 text-left">
                                                <img style="cursor: pointer;" id="star-1" src="{% static 'public/images/star.png' %}" alt="star" class="w10">
                                                <img style="cursor: pointer;" id="star-2" src="{% static 'public/images/star-disable.png' %}" alt="star" class="w10">
                                                <img style="cursor: pointer;" id="star-3" src="{% static 'public/images/star-disable.png' %}" alt="star" class="w10">
                                                <img style="cursor: pointer;" id="star-4" src="{% static 'public/images/star-disable.png' %}" alt="star" class="w10">
                                                <img style="cursor: pointer;" id="star-5" src="{% static 'public/images/star-disable.png' %}" alt="star" class="w10">
                                            </div>
                                            <label style="margin-top: 1em;" class="font-xssss fw-600 mb-0 text-grey-800">Your Comment</label>
                                            <textarea style="margin-bottom: 1em !important;"
                                                    name="content"
                                                    cols="40"
                                                    rows="5"
                                                    class="form-control mb-0 p-3 h100 bg-greylight lh-16"
                                                    placeholder="Write your comment about the event..."
                                                    spellcheck="false"
                                                    required=""
                                                    id="content"
                                            ></textarea>
                                            <a id="submit-button" style="cursor: pointer;" onclick="void(0)" class="d-block p-2 lh-32 text-center bg-greylight fw-600 font-xssss text-grey-900 rounded-3">
                                                Add Your Review
                                            </a>
                                            <a id="success-button" style="display: none !important;" onclick="void(0)" class="d-block p-2 lh-32 text-center bg-success fw-600 font-xssss text-white rounded-3">
                                                Your Review Saved
                                            </a>
                                        {% else %}
                                            <a id="success-button" onclick="void(0)" class="d-block p-2 lh-32 text-center bg-success fw-600 font-xssss text-white rounded-3">
                                                Your Review Saved
                                            </a>
                                        {% endif %}
                                        <input type="hidden" id="rate" name="rate" value="1">
                                        <input type="hidden" id="event_id" name="event_id" value="{{ event.uuid }}">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- main content -->

        <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
            <a href="{% url 'home.feed' %}" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
            <a href="shop-2.html" class="nav-content-bttn"><i class="feather-layers"></i></a>
            <a href="{% url 'members.settings' user.pk %}" class="nav-content-bttn"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w30 shadow-xss"></a>
        </div>

        <div class="app-header-search">
            <form class="search-form">
                <div class="form-group searchbox mb-0 border-0 p-1">
                    <input type="text" class="form-control border-0" placeholder="Search...">
                    <i class="input-icon">
                        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                    </i>
                    <a href="#" class="ms-1 mt-1 d-inline-block close searchbox-close">
                        <i class="ti-close font-xs"></i>
                    </a>
                </div>
            </form>
        </div>

    </div>
    <script src="{% static 'public/js/plugin.js' %}"></script>
    <script src="{% static 'public/js/lightbox.js' %}"></script>
    <script src="{% static 'public/js/scripts.js' %}"></script>

</body>

</html>