{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Community - World's Greatest People Platform </title>

    <link rel="stylesheet" href="{%  static 'public/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/feather.css' %}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/emoji.css' %}">
    
    <link rel="stylesheet" href="{% static 'public/css/lightbox.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'public/community.js' %}"></script>
    <style>
        .message-wrap:after {
            background: none !important;
        }
    </style>
</head>

<body class="color-theme-blue mont-font">

    <div class="preloader"></div>


    <div class="main-wrapper">

        <!-- navigation top-->
        <div class="nav-header bg-white shadow-xs border-0">
            <div class="nav-top">
                <a href="{% url 'home.feed' %}"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Community. </span> </a>
                <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <button class="nav-menu me-0 ms-2"></button>
            </div>

            <form action="#" class="float-left header-search">
                <div class="form-group mb-0 icon-input">
                    <i class="feather-search font-sm text-grey-400"></i>
                    <input id="search-bar" autocomplete="off" type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
                    <ol class="list-group" id="search-wrapper" style="
                                        display: none;
                                        position: absolute;
                                        background-color: rgb(255, 255, 255);
                                        margin-top: 0;
                                        padding-left: calc(var(--bs-gutter-x) / 2);
                                        margin-bottom: 1rem;
                                        width: 100%;
                                        height: auto;
                                        max-height: 400px;
                                        overflow: scroll;
                                        "></ol>
                    <input type="hidden" value="" name="service-uuid" id="service-uuid">
                    <input type="hidden" value="" name="event-uuid" id="event-uuid">
                </div>
            </form>
            <a href="{% url 'home.feed' %}" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg alert-primary btn-round-lg theme-dark-bg text-current "></i></a>
            <a href="{% url 'members.show' user.pk %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-user font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>

            <span class="badge badge-primary text-white badge-pill fw-500 mt-0">{{ user.credit }}h</span>
            <a class="menu-icon text-center ms-auto p-2" href="{% url 'logout' %}">Logout</a>
        </div>
        <!-- navigation top -->

        <!-- navigation left -->
        <nav class="navigation scroll-bar">
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span>New </span>Feeds</div>
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="default-group.html" class="nav-content-bttn open-font" ><i class="feather-map-pin btn-round-md bg-mini-gradiant me-3"></i><span>Near Events</span></a></li>
                            <li><a href="default-group.html" class="nav-content-bttn open-font" ><i class="feather-map-pin btn-round-md bg-gold-gradiant me-3"></i><span>Near Services</span></a></li>
                            <li><a href="{% url 'members.show' user.pk %}" class="nav-content-bttn open-font"><i class="feather-user btn-round-md bg-primary-gradiant me-3"></i><span>Author Profile </span></a></li>
                        </ul>
                    </div>
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span></span> Account</div>
                        <ul class="mb-1">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="{% url 'members.settings' user.pk %}" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i class="font-sm feather-settings me-3 text-grey-500"></i><span>Settings</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- navigation left -->
        <!-- main content -->
        <div class="main-content">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">
                    <!-- loader wrapper -->
                    <div class="preloader-wrap p-3">
                        <div class="box shimmer">
                            <div class="lines">
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                            </div>
                        </div>
                        <div class="box shimmer mb-3">
                            <div class="lines">
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                            </div>
                        </div>
                        <div class="box shimmer">
                            <div class="lines">
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- loader wrapper -->
                    <div class="row feed-body">
                        <div class="col-xl-8 col-xxl-9 col-lg-8">
                            <div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3">
                                <div class="card-body p-0">
                                    <a href="{% url 'services.create' %}" style="display: inline-block; margin-right: 1em;" class=" font-xssss fw-600 text-grey-500 card-body p-0 align-items-center"><i class="btn-round-sm font-xs text-primary feather-edit-3 me-2 bg-greylight"></i>Create Service</a>
                                    <a href="{% url 'activities.create' %}" style="display: inline-block;" class=" font-xssss fw-600 text-grey-500 card-body p-0 align-items-center"><i class="btn-round-sm font-xs text-primary feather-edit-3 me-2 bg-greylight"></i>Create Event</a>
                                </div>
                            </div>

                            {% for item in items %}
                            <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                                <div class="card-body p-0 d-flex">
                                    <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 style="cursor: pointer; display: inline-block;" class="fw-700 text-grey-900 font-xsss mt-1"
                                        {% if item.meta.index == 'activities' %}
                                            onclick="window.top.location.href='{% url 'activities.detail' item.uuid %}'"
                                        {% elif item.meta.index == 'services' %}
                                            onclick="window.top.location.href='{% url 'services.detail' item.uuid %}'"
                                        {% endif %}
                                    >{{ item.title }}
                                        <br>
                                        <span class="d-inline-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                                            Starts at {{ item.start_date|date:'d/m/Y H:i' }}, {{ item.formatted_address }}
                                            <img class="d-inline-block" src="{{ item.location_type_icon }}" width="12" height="12">
                                        </span>
                                        <span class="d-inline-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                                            Created by {{ item.owner.full_name }} at {{ item.created_at|date:'d/m/Y H:i' }}
                                        </span>
                                        <br>
                                        {% if item.meta.index == 'services' %}
                                            <span class="d-inline-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                                                {{ item.credit }}h of credit{{ item.credit|pluralize }} required
                                            </span>
                                        {% elif item.meta.index == 'activities' %}
                                            <span class="d-inline-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                                                Duration {{ item.duration }}h
                                            </span>
                                        {% endif %}
                                    </h4>
                                    {% if item.meta.index == 'activities' %}
                                        <a style="margin-left: auto; height: 34px;" href="{% url 'activities.detail' item.uuid %}" class="p-2 lh-20 bg-mini-gradiant text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                                            Event
                                        </a>
                                    {% elif item.meta.index == 'services' %}
                                        <a style="margin-left: auto; height: 34px;" href="{% url 'services.detail' item.uuid %}" class="p-2 lh-20 bg-gold-gradiant text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                                            Service
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="card-body p-0 mb-3 rounded-3 overflow-hidden">
                                    {% if item.meta.index == 'activities' %}
                                        <a href="{% url 'activities.detail' item.uuid %}" class="card-image">
                                            {% if item.photo == '' or item.photo == null %}
                                                <img src="https://via.placeholder.com/615x350.png" alt="">
                                            {% else %}
                                                <img src="{{ item.photo }}" alt="">
                                            {% endif %}
                                        </a>
                                    {% elif item.meta.index == 'services' %}
                                        <a href="{% url 'services.detail' item.uuid %}" class="card-image">
                                            {% if item.photo == '' or item.photo == null %}
                                                <img src="https://via.placeholder.com/615x350.png" alt="">
                                            {% else %}
                                                <img src="{{ item.photo }}" alt="">
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="card-body p-0 me-lg-5">
                                    <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-2">
                                        {{ item.description }}
                                        <br>
                                        <a href="
                                            {% if item.meta.index == 'services' %}
                                                {% url 'services.detail' item.uuid %}
                                            {% elif item.meta.index == 'activities' %}
                                                {% url 'activities.detail' item.uuid %}
                                            {% endif %}
                                        " class="fw-600 text-primary">Get more info and attend now</a></p>
                                </div>
                                <div class="card-body d-flex-inline p-0">
                                    {% for avg in average_mapping %}
                                        {% if avg.0 == item.uuid %}
                                            <span class="fa fa-star checked" id="star-1" style="color: orange; font-size: 26px;"></span>
                                            <span class="d-none-xss">{{ avg.1 }} / 5</span>
                                        {% endif %}
                                    {% endfor %}
                                    <a href="#" class="d-flex-inline align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss">
                                        {% for item_rate_count_map in item_rate_counts_mapping %}
                                            {% if item_rate_count_map.0 == item.uuid %}
                                                <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>
                                                <span class="d-none-xss">{{ item_rate_count_map.1 }} Comment</span>
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                    <div style="height: auto !important;" class="chat-wrapper pt-0 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                                        <div class="chat-body" style="margin: 0 !important;">
                                            {% for item_rate_map in item_rates_mapping %}
                                                {% if item_rate_map.0 == item.uuid %}
                                                    <div class="messages-content pb-1" style="
                                                        height: auto !important;
                                                        margin-bottom: 0.25rem !important;
                                                        background-color: #E6EEFF;
                                                        padding-bottom: 0.25rem !important;
                                                        border-radius: 10px;">
                                                        <div class="message-item" style="margin-left: 0 !important; margin-bottom: 0 !important;">
                                                            <div class="message-user" style="
                                                                justify-content: flex-start; !important;
                                                                padding: 10px 0 0 10px !important;
                                                                margin-bottom: 0;">
                                                                <figure class="avatar">
                                                                    <img style="width: 40px; height: 40px;" src="https://via.placeholder.com/50x50.png" alt="image">
                                                                </figure>
                                                                <div>
                                                                    <h5 style="font-size: 12px !important;">{{ item_rate_map.1.voter.full_name }}</h5>
                                                                    <div class="time">{{ item_rate_map.1.created_at|date:'d/m/Y H:i' }}</div>
                                                                </div>
                                                            </div>
                                                            <div class="message-wrap" style="
                                                                background-color: #E6EEFF;
                                                                box-shadow: none;
                                                                padding-top: 0;
                                                                font-size: 12px;
                                                                padding-bottom: 12px;">{{ item_rate_map.1.content }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                            <div class="card w-100 shadow-none bg-transparent bg-transparent-card border-0 p-0 mb-0">
                                <div class="owl-carousel category-card owl-theme overflow-hidden nav-none">
                                    <div class="item">
                                        <div class="card w150 d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3 me-2 mt-3">
                                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1"><img src="https://via.placeholder.com/50x50.png" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"></figure>
                                                <div class="clearfix"></div>
                                                <h4 class="fw-700 font-xssss mt-3 mb-1">Richard Bowers  </h4>
                                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">@macale343</p>
                                                <a href="#" class="text-center p-2 lh-20 w100 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card w150 d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3 me-2 mt-3">
                                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1"><img src="https://via.placeholder.com/50x50.png" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"></figure>
                                                <div class="clearfix"></div>
                                                <h4 class="fw-700 font-xssss mt-3 mb-1">David Goria </h4>
                                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">@macale343</p>
                                                <a href="#" class="text-center p-2 lh-20 w100 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card w150 d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3 me-2 mt-3">
                                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1"><img src="https://via.placeholder.com/50x50.png" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"></figure>
                                                <div class="clearfix"></div>
                                                <h4 class="fw-700 font-xssss mt-3 mb-1">Vincent Parks  </h4>
                                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">@macale343</p>
                                                <a href="#" class="text-center p-2 lh-20 w100 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card w150 d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3 me-2 mt-3">
                                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1"><img src="https://via.placeholder.com/50x50.png" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"></figure>
                                                <div class="clearfix"></div>
                                                <h4 class="fw-700 font-xssss mt-3 mb-1">Studio Express </h4>
                                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">@macale343</p>
                                                <a href="#" class="text-center p-2 lh-20 w100 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card w150 d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3 me-2 mt-3">
                                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1"><img src="https://via.placeholder.com/50x50.png" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"></figure>
                                                <div class="clearfix"></div>
                                                <h4 class="fw-700 font-xssss mt-3 mb-1">Aliqa Macale </h4>
                                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">@macale343</p>
                                                <a href="#" class="text-center p-2 lh-20 w100 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card w-100 text-center shadow-xss rounded-xxl border-0 p-4 mb-3 mt-3">
                                <div class="snippet mt-2 ms-auto me-auto" data-title=".dot-typing">
                                    <div class="stage">
                                        <div class="dot-typing"></div>
                                    </div>
                                </div>
                            </div>


                        </div>               
                        <div class="col-xl-4 col-xxl-3 col-lg-4 ps-md-0">
                            <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                                <div class="card-body d-flex align-items-center p-4">
                                    <h4 class="fw-700 mb-0 font-xssss text-grey-900">Follow Request</h4>
                                    <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
                                </div>
                                <div class="card-body d-flex pt-4 ps-4 pe-4 pb-0 border-top-xs bor-0">
                                    <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">Anthony Daugloi <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">12 mutual friends</span></h4>
                                </div>
                                <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
                                    <a href="#" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">Confirm</a>
                                    <a href="#" class="p-2 lh-20 w100 bg-grey text-grey-800 text-center font-xssss fw-600 ls-1 rounded-xl">Delete</a>
                                </div>

                                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-0">
                                    <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">Mohannad Zitoun <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">12 mutual friends</span></h4>
                                </div>
                                <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
                                    <a href="#" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">Confirm</a>
                                    <a href="#" class="p-2 lh-20 w100 bg-grey text-grey-800 text-center font-xssss fw-600 ls-1 rounded-xl">Delete</a>
                                </div>

                                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-0">
                                    <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">Mohannad Zitoun <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">12 mutual friends</span></h4>
                                </div>
                                <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
                                    <a href="#" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">Confirm</a>
                                    <a href="#" class="p-2 lh-20 w100 bg-grey text-grey-800 text-center font-xssss fw-600 ls-1 rounded-xl">Delete</a>
                                </div>
                            </div>


                            <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                                <div class="card-body d-flex align-items-center  p-4">
                                    <h4 class="fw-700 mb-0 font-xssss text-grey-900">Activity Calendar</h4>
                                </div>
                                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
                                    <div class="bg-success me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">FEB</span>22</h4></div>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-2">Meeting with clients <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
                                </div>

                                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
                                    <div class="bg-warning me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">APR</span>30</h4></div>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-2">Developer Programe <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
                                </div>

                                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
                                    <div class="bg-primary me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">APR</span>23</h4></div>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-2">Aniversary Event <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
                                </div>
                                 
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>            
        </div>
        <!-- main content -->


        
        <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
            <a href="{% url 'home.feed' %}" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
            <a href="shop-2.html" class="nav-content-bttn"><i class="feather-layers"></i></a>
            <a href="{% url 'members.settings' user.pk %}" class="nav-content-bttn"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w30 shadow-xss"></a>
        </div>

        <div class="app-header-search">
            <form class="search-form">
                <div class="form-group searchbox mb-0 border-0 p-1">
                    <input type="text" class="form-control border-0" placeholder="Search...">
                    <i class="input-icon">
                        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                    </i>
                    <a href="#" class="ms-1 mt-1 d-inline-block close searchbox-close">
                        <i class="ti-close font-xs"></i>
                    </a>
                </div>
            </form>
        </div>

    </div> 

    <div class="modal bottom side fade" id="Modalstries" tabindex="-1" role="dialog" style=" overflow-y: auto;">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 bg-transparent">
                <button type="button" class="close mt-0 position-absolute top--30 right--10" data-dismiss="modal" aria-label="Close"><i class="ti-close text-white font-xssss"></i></button>
                <div class="modal-body p-0">
                    <div class="card w-100 border-0 rounded-3 overflow-hidden bg-gradiant-bottom bg-gradiant-top">
                        <div class="owl-carousel owl-theme dot-style3 story-slider owl-dot-nav nav-none">
                            <div class="item"><img src="https://via.placeholder.com/450x800.png" alt="image"></div>
                            <div class="item"><img src="https://via.placeholder.com/450x800.png" alt="image"></div>
                            <div class="item"><img src="https://via.placeholder.com/450x800.png" alt="image"></div>
                            <div class="item"><img src="https://via.placeholder.com/450x800.png" alt="image"></div>
                            
                        </div>
                    </div>
                    <div class="form-group mt-3 mb-0 p-3 position-absolute bottom-0 z-index-1 w-100">
                        <input type="text" class="style2-input w-100 bg-transparent border-light-md p-3 pe-5 font-xssss fw-500 text-white" value="Write Comments">               
                        <span class="feather-send text-white font-md text-white position-absolute" style="bottom: 35px;right:30px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'public/js/plugin.js' %}"></script>
    <script src="{% static 'public/js/lightbox.js' %}"></script>
    <script src="{% static 'public/js/scripts.js' %}"></script>

    
</body>

</html>