{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Community - World's Greatest People Platform</title>
    <link rel="stylesheet" href="{% static 'public/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/feather.css' %}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'public/community.js' %}"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            $(document).on('change', '.input-file', function() {
                let filesCount = $(this)[0].files.length;
                let textbox = $(this).prev();
                if (filesCount === 1) {
                    let fileName = $(this).val().split('\\').pop();
                    textbox.text(fileName);
                } else {
                  textbox.text(filesCount + ' files selected');
                }
            });

            let form = document.getElementById('service-form');
            let previousQueryLength;
            let parsedJSON = JSON.parse($('#location-json').val());
            $('#location').css('background-image', 'url("' + parsedJSON.icon + '")');
            $('#location').css('background-repeat', 'no-repeat');
            $('#location').css('background-position', '98% center');
            $('#location').css('background-size', '5%');
            $('#location').val(parsedJSON.formatted_address);
            $('#location-wrapper').css('display', 'none');

            form.addEventListener('keyup', function(event) {
                event.preventDefault()

                let locationQuery = document.getElementById('location').value;
                if (locationQuery.length >= 2 && locationQuery.length < 15 && previousQueryLength !== locationQuery.length) {
                    let request = axios.get('/locations/search/?query=' + locationQuery)
                        .then(function (response) {
                            $('#location-wrapper .list-group-item').remove();
                            for (let x = 0; x < response.data.response.results.length; x++) {
                                let newLi = document.createElement('li');
                                let newDiv1 = document.createElement('div');
                                let newDiv2 = document.createElement('div');
                                let newSpan = document.createElement('span');

                                $(newLi).addClass('list-group-item d-flex justify-content-between align-items-start location');
                                $(newLi).attr('id', 'location-' + x);
                                $(newDiv1).addClass('ms-2 me-auto');
                                $(newLi).css('background-image', 'url("' + response.data.response.results[x].icon + '")');
                                $(newLi).css('background-repeat', 'no-repeat');
                                $(newLi).css('background-position', '98% center');
                                $(newLi).css('background-size', '5%');
                                $(newLi).css('cursor', 'pointer');
                                $(newDiv2).addClass('fw-bold');
                                $(newDiv2).html(response.data.response.results[x].name);
                                $(newSpan).addClass('badge bg-primary rounded-pill');
                                $(newDiv1).html(newDiv2.outerHTML + response.data.response.results[x].formatted_address);
                                $(newLi).append(newDiv1);
                                $(newLi).append(newSpan);
                                $('#location-wrapper').css('display', 'flex');
                                $('#location-wrapper').append(newLi);
                            }

                            $('.location').click(function() {
                                let resultIndex = $(this).attr('id').split('-')[1]
                                $('#location-json').val(JSON.stringify(response.data.response.results[resultIndex]));
                                $('#location').css('background-image', 'url("' + response.data.response.results[resultIndex].icon + '")');
                                $('#location').css('background-repeat', 'no-repeat');
                                $('#location').css('background-position', '98% center');
                                $('#location').css('background-size', '5%');
                                $('#location').val(response.data.response.results[resultIndex].formatted_address);
                                $('#location-wrapper').css('display', 'none');
                            });
                            request = null;
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        }).then(function () {
                            previousQueryLength = locationQuery.length
                        })
                }
            })


            $('#submit-button').click(function (event) {
                event.preventDefault();
                $('#location').val($('#location-json').val());
                $('#service-form').submit();
            });

            $(document).mouseup(function(e) {
                let container = $('#location-wrapper');

                if (!container.is(e.target) && container.has(e.target).length === 0)
                {
                    container.hide();
                }
            });
        });
    </script>
    <style>
        .navigation .nav-content span {
            font-size: 11px !important;
        }
    </style>
</head>

<body class="color-theme-blue mont-font">

    <div class="preloader"></div>

    
    <div class="main-wrapper">
        {% if form.errors and form.non_field_errors %}
            <div class="alert alert-danger">
                <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- navigation top-->
        <div class="nav-header bg-white shadow-xs border-0">
            <div class="nav-top">
                <a href="{% url 'home.feed' %}"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Community. </span> </a>
                <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <button class="nav-menu me-0 ms-2"></button>
            </div>

            <form action="#" class="float-left header-search">
                <div class="form-group mb-0 icon-input">
                    <i class="feather-search font-sm text-grey-400"></i>
                    <input id="search-bar" autocomplete="off" type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
                    <ol class="list-group" id="search-wrapper" style="
                                        display: none;
                                        position: absolute;
                                        background-color: rgb(255, 255, 255);
                                        margin-top: 0;
                                        padding-left: calc(var(--bs-gutter-x) / 2);
                                        margin-bottom: 1rem;
                                        width: 100%;
                                        height: auto;
                                        max-height: 400px;
                                        overflow: scroll;
                                        "></ol>
                    <input type="hidden" value="" name="service-uuid" id="service-uuid">
                    <input type="hidden" value="" name="event-uuid" id="event-uuid">
                </div>
            </form>
            <a href="{% url 'home.feed' %}" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg alert-primary btn-round-lg theme-dark-bg text-current "></i></a>
            <a href="{% url 'members.show' user.pk %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-user font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>

            <span class="badge badge-primary text-white badge-pill fw-500 mt-0">{{ user.credit }}h</span>
            <a class="menu-icon text-center ms-auto p-2" href="{% url 'members.show' user.pk %}">{{ user.full_name }}</a>
            <a style="margin-left: 15px !important;" class="menu-icon text-center ms-auto p-2" href="{% url 'logout' %}">Logout</a>
        </div>
        <!-- navigation top -->

        <!-- navigation left -->
        <nav class="navigation scroll-bar">
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span>Filter by Location </span></div>
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="/?nearby=events" class="nav-content-bttn open-font" ><i class="feather-map-pin btn-round-md bg-mini-gradiant me-3"></i><span>Nearby Events (40km)</span></a></li>
                            <li><a href="/?nearby=services" class="nav-content-bttn open-font" ><i class="feather-map-pin btn-round-md bg-gold-gradiant me-3"></i><span>Nearby Services (40km)</span></a></li>
                        </ul>
                    </div>
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span>Me </span></div>
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="/?attended=events" class="nav-content-bttn open-font"><i class="feather-zap btn-round-md bg-mini-gradiant me-3"></i><span>Attended Events </span></a></li>
                            <li><a href="/?attended=services" class="nav-content-bttn open-font"><i class="feather-zap btn-round-md bg-gold-gradiant me-3"></i><span>Taken Services </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- navigation left -->
        <!-- main content -->
        <div class="main-content bg-lightblue theme-dark-bg right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">
                    <div class="middle-wrap">
                        <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                            <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                                <a href="{% url 'members.settings' user.pk %}" class="d-inline-block mt-2"><i class="ti-arrow-left font-sm text-white"></i></a>
                                <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Edit Service</h4>
                            </div>
                            <div class="card-body p-lg-5 p-4 w-100 border-0 ">

                            <form method="post" id="service-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Title</label>
                                            {{ form.title }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.title.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Location</label>
                                            {{ form.location }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.location.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                            <input type="hidden" value="{{ object.location }}" name="location-json" id="location-json">
                                        </div>
                                    </div>

                                    <ol class="list-group list-group-numbered" id="location-wrapper" style="
                                        display: none;
                                        position: relative;
                                        background-color: rgb(255, 255, 255);
                                        margin-top: -1rem;
                                        padding-left: calc(var(--bs-gutter-x) / 2);
                                        margin-bottom: 1rem;"></ol>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Start Date</label>
                                            {{ form.start_date }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.start_date.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Credit{{ object.credit|pluralize }}</label>
                                            {{ form.credit }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.credit.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Description</label>
                                            {{ form.description }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.description.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Participant Limit</label>
                                            {{ form.participant_limit }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.participant_limit.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Repetition Term</label>
                                            {{ form.repetition_term }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.repetition_term.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Privacy Status</label>
                                            {{ form.privacy_status }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.privacy_status.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Participant Picking</label>
                                            {{ form.participant_picking }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.participant_picking.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Cancelled</label>
                                            {{ form.cancelled }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.cancelled.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Category</label>
                                            {{ form.category }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.category.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Delivered</label>
                                            {{ form.delivered }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.delivered.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Content</label>
                                            {{ form.content }}
                                            {% if form.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.content.errors.0|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-3">
                                        <div class="card mt-3 border-0">
                                            <div class="card-body d-flex justify-content-between align-items-end p-0">
                                                <div class="form-group mb-0 w-100">
                                                    <label class="mont-font fw-600 font-xsss">Photo for Service</label>
                                                    <p class="mb-0 lh-16"></p>
                                                    {{ form.photo }}
                                                    <label for="file" class="rounded-3 text-center bg-white btn-tertiary js-labelFile p-4 w-100 border-dashed">
                                                    <i class="ti-cloud-down large-icon me-3 d-block"></i>
                                                    <span class="js-fileName">Click to replace</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <a style="cursor: pointer;" id="submit-button" class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block">Save</a>
                                    </div>
                                </div>

                            </form>
                            </div>
                        </div>
                        <!-- <div class="card w-100 border-0 p-2"></div> -->
                    </div>
                </div>
                 
            </div>            
        </div>
        <!-- main content -->

        
        <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
            <a href="{% url 'home.feed' %}" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
            <a href="shop-2.html" class="nav-content-bttn"><i class="feather-layers"></i></a>
            <a href="{% url 'members.settings' user.pk %}" class="nav-content-bttn"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w30 shadow-xss"></a>
        </div>

        <div class="app-header-search">
            <form class="search-form">
                <div class="form-group searchbox mb-0 border-0 p-1">
                    <input type="text" class="form-control border-0" placeholder="Search...">
                    <i class="input-icon">
                        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                    </i>
                    <a href="#" class="ms-1 mt-1 d-inline-block close searchbox-close">
                        <i class="ti-close font-xs"></i>
                    </a>
                </div>
            </form>
        </div>

    </div> 


    <script src="{% static 'public/js/plugin.js' %}"></script>
    <script src="{% static 'public/js/scripts.js' %}"></script>
    
</body>
</html>