{% extends 'services/service_base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-star {
            cursor: pointer;
        }
        .fa-star.checked {
            color: orange;
        }
    </style>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            $('.fa-star').click(function () {
                let maxRate = 5;
                let id = $(this).attr('id');
                let value = parseInt(id.split('-')[1]);
                $('#rate').val(value);
                if (value === 5) {
                    $('.fa-star').addClass('checked')
                } else {
                    while (maxRate > value) {
                        $('#star-' + maxRate).removeClass('checked');
                        maxRate--;
                    }

                    while (value > 0) {
                        $('#star-' + value).addClass('checked');
                        value--;
                    }
                }
            });

            $('#submit-button').click(function () {
                let request = axios.post(
                    '{% url 'services.rate' %}',
                    {
                        'service_id': $('#service_id').val(),
                        'voter_id': '{{ user.pk }}',
                        'content': $('#content').val(),
                        'rate': $('#rate').val(),
                    },
                    {
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        }
                    }
                ).then(function (response) {
                    console.log(response);
                    $('#submit-button').html('Review saved')
                    $('#submit-button').removeAttr('id')

                    request = null;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {

                })
            })
            let searchBar = document.getElementById('search-bar');
            let previousQueryLength;
            const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
            searchBar.addEventListener('keyup', function(event) {
                event.preventDefault()
                let query = $('#search-bar').val();
                if (query.length >= 3 && previousQueryLength !== query.length) {
                    let request = axios.get('/services/search/?search=' + query)
                        .then(function (response) {
                            $('#search-wrapper .list-group-item').remove();
                            for (let x = 0; x < response.data.length; x++) {
                                let dateObj = new Date(response.data[x].start_date);
                                let newLi = document.createElement('li');
                                let newDiv1 = document.createElement('div');
                                let newDiv2 = document.createElement('div');
                                let newSpan = document.createElement('span');

                                $(newLi).addClass('list-group-item d-flex justify-content-between align-items-start service-item');
                                $(newLi).attr('id', 'service-' + x);
                                $(newDiv1).addClass('ms-2 me-auto');
                                $(newLi).css('cursor', 'pointer');
                                $(newDiv2).addClass('fw-bold');
                                $(newDiv2).html(response.data[x].title);
                                $(newSpan).addClass('badge bg-primary rounded-pill');
                                $(newDiv1).html(
                                    newDiv2.outerHTML + response.data[x].owner.full_name + ' ' + dateObj.toLocaleDateString() + ' ' + dateObj.toLocaleTimeString()
                                );
                                $(newLi).append(newDiv1);
                                $(newLi).append(newSpan);
                                $('#search-wrapper').css('display', 'flex');
                                $('#search-wrapper').append(newLi);
                            }

                            $('.service-item').click(function() {
                                let resultIndex = $(this).attr('id').split('-')[1];
                                window.top.location.href = '/services/' + response.data[resultIndex].uuid;
                            });
                            request = null;
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        }).then(function () {
                            previousQueryLength = query.length
                        })
                }
            })

            $('#attend').click(function () {
                let request = axios.post(
                    '{% url 'services.attend' %}',
                    {
                        'service_id': $('#service_id').val()
                    },
                    {
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        }
                    }
                ).then(function (response) {
                    console.log(response);
                    $('#attend').css('display', 'none')
                    $('#insufficient-credit').css('display', 'none')
                    $('#cancel').removeAttr('style')
                    $('#member-credit').html(response.data.credit + 'h');

                    request = null;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {

                })
            })

            $('#cancel').click(function () {
                let request = axios.post(
                    '{% url 'services.cancel_attendance' %}',
                    {
                        'service_id': $('#service_id').val()
                    },
                    {
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        }
                    }
                ).then(function (response) {
                    console.log(response);
                    $('#cancel').css('display', 'none')
                    $('#insufficient-credit').css('display', 'none')
                    $('#attend').removeAttr('style')
                    $('#member-credit').html(response.data.credit + 'h');

                    request = null;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {

                })
            })
        });
    </script>
{% endblock %}
{% block cards %}
    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
        <div class="card-body p-0 d-flex">
            <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
            <h4 class="fw-700 text-grey-900 font-xssss mt-1">{{ service.title }}
                {% if member_status_on_service == 'can_attend' %}
                    <a id="attend" href="#" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        + Attend
                    </a>
                    <a id="cancel" style="display: none;" href="#" class="p-2 lh-20 w100 bg-warning me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        - Cancel Attendance
                    </a>
                    <a href="#" id="insufficient-credit" style="display: none;" class="p-2 lh-20 w100 bg-danger me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        Insufficient Credit
                    </a>
                {% elif member_status_on_service == 'can_cancel_attendance' %}
                    <a id="cancel" href="#" class="p-2 lh-20 w100 bg-warning me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        - Cancel Attendance
                    </a>
                    <a id="attend" style="display: none;" href="#" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        + Attend
                    </a>
                    <a href="#" id="insufficient-credit" style="display: none;" class="p-2 lh-20 w100 bg-danger me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        Insufficient Credit
                    </a>
                {% elif member_status_on_service == 'insufficient_credit' %}
                    <a href="#" id="insufficient-credit" class="p-2 lh-20 w100 bg-danger me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        Insufficient Credit
                    </a>
                    <a id="cancel" style="display: none;" href="#" class="p-2 lh-20 w100 bg-warning me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        - Cancel Attendance
                    </a>
                    <a id="attend" style="display: none;" href="#" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        + Attend
                    </a>
                {% elif member_status_on_service == 'service_delivered' %}
                    <a href="#" id="service-delivered" class="p-2 lh-20 w100 bg-success me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        Service Delivered
                    </a>
                {% elif member_status_on_service == 'service_cancelled' %}
                    <a href="#" id="service-cancelled" class="p-2 lh-20 w100 bg-danger me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">
                        Service Cancelled
                    </a>
                {% endif %}
                <span class="d-flex font-xssss fw-500 mt-1 lh-3 text-grey-500">
                    Starts at {{ service.start_date|date:'d/m/Y H:i' }}
                </span>
                <span class="d-inline-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                    {{ service.formatted_address }}
                </span>
                <span class="d-inline-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                    {{ service.credit }}
                </span>
                <img class="d-inline-block" src="{{ service.location_type_icon }}" width="12" height="12">
            </h4>
        </div>
        <div class="card-body p-0 mb-3 rounded-3 overflow-hidden">
            <a href="#" class="video-btn">
                <img src="https://via.placeholder.com/615x350.png" alt="">
            </a>
        </div>
        <div class="card-body p-0 me-lg-5" style="margin-right: 0 !important;">
            <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-2">{{ service.description }}</p>
            <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-2">
                <a href="{% url 'services.attendants' service.uuid %}" style="padding: 0 !important; " href="#" class="p-2 text-center ms-0 menu-icon center-menu-icon">
                    <i class="feather-user font-xs bg-greylight btn-round-xs theme-dark-bg text-grey-500 "></i>
                </a>
                {% if all_attendance.count > 0 %}
                    {{ all_attendance.count }} people attending to this service
                {% else %}
                    Nobody attended to this service yet
                {% endif %}
            </p>

            {% if service.delivered %}
                <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-2">
                    <span class="fa fa-star checked" id="star-1"></span>
                    <span class="fa fa-star" id="star-2"></span>
                    <span class="fa fa-star" id="star-3"></span>
                    <span class="fa fa-star" id="star-4"></span>
                    <span class="fa fa-star" id="star-5"></span>
                    Nobody rated to this service yet
                </p>

                <div class="col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Comment:</label>
                        <textarea
                                name="content"
                                cols="40"
                                rows="5"
                                class="form-control mb-0 p-3 h100 bg-greylight lh-16"
                                placeholder="Write your comment about the service..."
                                spellcheck="false"
                                required=""
                                id="content"
                        ></textarea>
                    </div>
                </div>

                <div class="col-lg-12">
                    <a id="submit-button" class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block">Save</a>
                </div>

                <input type="hidden" id="rate" name="rate" value="1">
            {% endif %}
        </div>
    </div>
{% endblock %}